- var dashboardPath          ='index.html'
- var chartNvd3Path          ='chart-NVD3.html'
- var chartSparklinePath     ='chart-sparkline.html'
- var chartChartJsPath       ='chart-chartjs.html'
//- BarCharts
- var googleBarChart         ='google-barchart.html'
- var chartjsBarChart        ='chartjs-barchart.html'
- var c3BarChart             ='c3-barchart.html'
//- LineCharts
- var googleLineChart        ='google-linechart.html'
- var chartjsLineChart       ='chartjs-linechart.html'
- var c3LineChart            ='c3-linechart.html'
//- AreaCharts
- var googleAreaChart        ='google-areachart.html'
- var chartjsAreaChart       ='chartjs-area.html'
- var c3AreaChart            ='c3-areachart.html'
//- PieCharts
- var googlePieChart         ='google-piechart.html'
- var c3PieChart             ='c3-piechart.html'
- var chartjsPieChart        ='chartjs-pie.html'
//- Scatter Chart
- var googleScatterChart     ="google-scatterchart.html"
- var chartjsScatterChart    ="chartjs-scatter.html"
//- Others
- var c3ExtraCharts          ="c3-more.html"
- var googleColumnChart      ="google-columnchart.html"
- var googleComboChart       ="google-combochart.html"
- var googleGeoChart         ="google-geocharts.html"
//- Datatables
- var materializeTable       ='materialize-table.html'
- var basicDatatable         ="datatable-basic.html"
- var basicStyleDatatable    ="datatable-basic-style.html"
- var orderingDatatable      ="datatable-ordering.html"
- var advanceDatatable       ="datatable-advance.html"
- var templateDatatable      ="datatable-template.html"

//- 
- var nestable               ='nestable.html'
- var imgMikeTrick           ='image-effects.html'
- var materialBoxGallery     ='material-box-gallery.html'
- var magnificPopup          ='magnific-popup.html'

- var formBasicComponents    ='form-basic-components.html'
- var formCheckboxesRadio    ="form-checkbox-radios.html"
- var formExtendedControl    ="form-extended-control.html";
- var formSelect             ="form-select.html";
- var formTaginput           ="form-taginput.html";
- var materializenote        ="editor-materializenote.html";
- var ckeditor               ="editor-ckeditor.html";
- var pickerDateTime         ="picker-datetime.html";
- var pickerColor            ="picker-color.html";
- var pickerLocation         ="picker-location.html";
//- Materialize Apprearance
- var materializeColor       ="materialize-color.html"
- var materializeGrid        ="materialize-grid.html"
- var materializeHelper      ="materialize-helper.html"
- var materializeShadow      ="materialize-shadow.html"
- var materializeTypography  ="materialize-typography.html"
- var materializeIcons       ="materialize-icons.html"
- var materializeBadge       ="materialize-badge.html"
- var materializeCssMedia    ="materialize-css-media.html"
- var materializeButton      ="materialize-button.html"
- var materializeBreadcrumbs ="materialize-breadcrumbs.html"
- var materializeCards       ="materialize-cards.html"
- var materializeChips       ="materialize-chips.html"
- var materializeCollection  ="materialize-collection.html"
- var materializePagination  ="materialize-pagination.html"
- var materializePreloader   ="materialize-preloader.html"

- var materializeCollapsible ="materialize-collapsible.html"
- var materializeDialogs     ="materialize-dialogs.html"
- var materializeDropdown    ="materialize-dropdown.html"
- var materializeMedia       ="materialize-media.html"
- var materializeCarousel    ="materialize-carousel.html"
- var materializeModals      ="materialize-modals.html"
- var materializePushpin     ="materialize-pushpin.html"
- var materializeScrollFire  ="materialize-scrollFire.html"
- var materializeScrollspy   ="materialize-scrollspy.html"
- var materializeTabs        ="materialize-tabs.html"
- var materializeTransitions ="materialize-transitions.html"
- var materializeWaves       ="materialize-waves.html"

- var signin                 ="user-signin.html";
- var signup                 ="user-signup.html";
- var signin2                 ="user-signin2.html";
- var signup2                 ="user-signup2.html";
- var lockScreen             ="user-lockscreen.html";
- var lockScreen2             ="user-lockscreen2.html";

- var page404                ="404.html"
- var page403                ="403.html"
- var page500                ="500.html"

- var page404type2                ="404-type2.html"
- var page403type2                ="403-type2.html"
- var page500type2                ="500-type2.html"

- var userProfile            ="user-profile.html";
- var userWidget             ='user-cards.html'

- var cardWidgetTravel       = 'card-travel.html'
- var cardWidgetWeather      = 'card-weather.html'
- var cardWidgetStatistic    = 'card-statistic.html'
- var cardWidgetFeeds        = 'card-feeds.html'

- var blog       = 'blog.html'
- var blogDetail = 'blog-detail.html'

- var timeline = "timeline.html"

//- IMAGE URLS
-var imgUrl1 = "http://lorempixel.com/800/440/food/1"
-var imgUrl2 = "http://lorempixel.com/800/440/food/2"
-var imgUrl3 = "http://lorempixel.com/800/440/food/3"
-var imgUrl4 = "http://lorempixel.com/800/440/food/4"


-var imgUrl5 = "http://lorempixel.com/720/400/food/5"
-var imgUrl6 = "http://lorempixel.com/720/400/food/6"
-var imgUrl7 = "http://lorempixel.com/720/400/food/7"
-var imgUrl8 = "http://lorempixel.com/720/400/food/8"
