// FOOTER
footer.page-footer.no-mrpd.grey.lighten-4
	.footer-copyright
		.container.primary-text
			| © 2017 Forge, All rights reserved.
			.right
				span.left
					|Handcrafted with 
				a(href='http://codigoforge.com',class='left')
					+mi('favorite').secondary-text.tiny.left&attributes({"style":"line-height:20px;margin:0px 8px;"})
					| By CodigoForge