extends ../layout/defualt-layout.pug

block title
	title Forge :: 500
	- var setBodyClass='error-page'
block append css
	
block content
	- var route = 'extraPages'
	- var func = 'page404type2'	
	
	.fullpage-flex-center.grey.darken-4
		.flex-center.pos-relative.full-height
			.row
				.col.s12
					.card.center-align
						.card-content.white-text.pos-relative
							h2.error-text 500
							p.caption.grey-text.text-accent-2
								| Whoop! Somethings wrong went with server!
							a.btn-floating.halfway-fab.waves-effect.waves-light.error-bg
								i.material-icons home
						.card-action.grey.darken-3
							a(href="#!",class='btn btn-flat white-text')
								i.material-icons.left reply
								| Back