extends ../layout/defualt-layout.pug
block title
	title Forge :: Blank Page
block append css
	
block content
	- var route = 'extraPages'
	- var func = 'blank'
	include ../include/header.pug
	main.animated