extends ../layout/defualt-layout.pug
block title
	title Forge :: C3 Pie Charts
block append css
	link(type='text/css', rel='stylesheet', href='../css/plugins/c3/c3.css')
	
block content
	- var mainRoute="chart"
	- var route = 'pieChart'
	- var func = 'c3PieChart'
	- var nestedName=""
	- var breadcrumb=[{"link":"index.html","title":"Home"},{"link":"#","title":"Charts"},{"link":"#","title":"C3 Pie Charts"}]
	- var dropdown1=[{"type":"normal","link":'http://c3js.org/samples/chart_area.html',"icon":"link","iType":"material","title":"c3 Example"},{"type":"normal","link":'https://github.com/c3js/c3',"icon":"mdi-git","iType":"mdi","title":"Git Hub"}]
	include ../include/header.pug
	main.animated
		+dropdownContent('c3breadcrumbOption',dropdown1)
		.main-header
			.sec-page
				.page-title
					h2 Pie Charts
				.page-options
					a(href="#",class="dropdown-button page-opt-dropBtn btn-floating btn-flat waves-effect waves-set",data-activates='c3breadcrumbOption',data-beloworigin='true',data-alignment='right',data-position="bottom",data-delay="50")
						+mi('more_vert')
			.sec-breadcrumb
				+breadcrumb(breadcrumb,'left')
		.main-container
			.row
				.col.s12
					h4.content-headline C3 Pie Charts
					p
						| C3 
						a(href="http://c3js.org/samples/chart_pie.html") 
							| pie charts 
						| look like as below.
			.row
				.col.s12.m6
					// Basic Chart
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Basic Chart
						.row
							div.col.s12
								#pie-basic
				.col.s12.m6
					// Pie Sort Chart
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Pie Sort Chart
						.row
							div.col.s12
								#pie-sort
			.row
				.col.s12.m6
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headlineDonut Donut Chart
						.row
							div.col.s12
								#donut-chart
		include ../include/footer.pug
block append scripts
	script(type='text/javascript', src='../plugins/charts/d3/d3.v3.min.js', charset="utf-8")
	script(type='text/javascript', src='../plugins/charts/c3/c3.js')
	script(type='text/javascript', src='../plugins/charts/c3/pie-chart.js')
	
	