extends ../layout/defualt-layout.pug
block title
	title Forge :: Form Select-Options
block append css
	link(rel="stylesheet", href="../css/plugins/select2.css")
	
block content
	- var mainRoute="UIElements"
	- var route = 'formComponets'
	- var func = 'selectBox'
	- var breadcrumb=[{"link":"index.html","title":"Home"},{"link":"#","title":"Form Componets"},{"link":"#","title":"Select Inputs"}]
	- var pageGeneralDropDown=[{"type":"normal","link":'#',"icon":"account_box","iType":"material","title":"Account"},{"type":"normal","link":'#',"icon":"local_activity","iType":"material","title":"Recent Activities"},{"type":"normal","link":'#',"icon":"mdi-wheelchair-accessibility","iType":"mdi","title":"Accessibility"},{"type":"divider"},{"type":"normal","link":'#',"icon":"settings","iType":"material","title":"All Settings"}]
	include ../include/header.pug
	main.animated
		+dropdownContent('generalDropDown',pageGeneralDropDown)
		// ============================
		// MAIN HEADER
		// ============================
		.main-header
			.sec-page
				.page-title
					h2 Select
				.page-options
					a(href="#",class="dropdown-button page-opt-dropBtn btn-floating waves-effect waves-set setWave",data-activates='generalDropDown',data-beloworigin="true",data-alignment="right",data-position="bottom",data-constrainwidth="false",data-delay="50",data-gutter="25")
						+mi('perm_data_setting')
					a(href="#",class="waves-effect waves-set page-opt-dropBtn setWave btn-floating")
						+mi('chat_bubble_outline')
			// ============================
			// breadcrumb
			// ============================
			.sec-breadcrumb
				+breadcrumb(breadcrumb,'left')
		// ============================
		// Main container
		// ============================
		.main-container
			// Materialized Select
			div.row
				.col.s12
					h4.content-headline Select-box
					p 
						| Select allows user input through specified options. Make sure you wrap it in a .input-field for proper alignment with other text fields.

				form.col.s12
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Materialize Select
								p
									| You must initialize the select element as shown below. In addition, you will need a separate call for any dynamically generated select elements your page generates. You can also refer basic material select from this 
									a(href="form-basic-components.html")
										| link
									|.
						.row
							.input-field.col.s12.m6
								select#select1(name="select1",class='mat_select')
									option(value="",disabled,selected) Choose your option
									option(value="1") option 1
									option(value="2") option 2
									option(value="3") option 3
								label(for="select1") Materialize Select
							.input-field.col.s12.m6
								select#select2(name="select2",multiple,class='mat_select')
									option(value="",disabled,selected) Choose your option
									option(value="1") option 1
									option(value="2") option 2
									option(value="3") option 3
								label(for="select2") Materialize Multiple Select
						.row
							.input-field.col.s12.m6
								select#select3(name="select3",class='mat_select')
									optgroup&attributes({"label":"team 1"})
										option(value="1") option 1
										option(value="2") option 2
										option(value="3") option 3
									optgroup&attributes({"label":"team 2"})
										option(value="4") option 4
										option(value="5") option 5
								label(for="select3") Option Group
							.col.s12.m6.l6
								label(for="select6") Browser Default <code class='language-markup'>browser-default</code> class
								select#select6(name="select6",class="browser-default mat_select")
									option(value="",disabled,selected) Choose your option
									option(value="1") option 1
									option(value="2") option 2
									option(value="3") option 3								
						.row
							.input-field.col.s12.m6
								select#select4(name="select4",class='icons mat_select')
									option(value="",disabled,selected) Choose your option
									option(value="1",data-icon="../images/placeholder/500x500t.jpg",class='circle') option 1
									option(value="2",data-icon="../images/placeholder/500x500t.jpg",class='circle') option 2
									option(value="3",data-icon="../images/placeholder/500x500t.jpg",class='circle') option 3
								label(for="select4") Images in select <code class="language-markup">data-icon</code> class
							.input-field.col.s12.m6
								select#select5(name="select5",class='icons mat_select')
									option(value="",disabled,selected) Choose your option
									option(value="1",data-icon="../images/placeholder/500x500t.jpg",class='circle left') option 1
									option(value="2",data-icon="../images/placeholder/500x500t.jpg",class='circle left') option 2
									option(value="3",data-icon="../images/placeholder/500x500t.jpg",class='circle left') option 3
								label(for="select5") Images in select
			// Select 2
			div.row
				.col.s12
					h4.content-headline Select 2
					p 
						| Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options.
				// 1. Single select
				form.col.s12
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Initialize With Single Select Boxes
								p
									| Select allows user input through specified options. Make sure you wrap it in <code class="language-markup">.input-field</code> for proper alignment with other text fields. Here is the basic initialization.
						.row
							.select2-input.col.s12
								label Single select boxes
								select#single-select(name="single-select",class='select2_select')
									option(value='United States') United States
									option(value='United Kingdom') United Kingdom
									option(value='Afghanistan') Afghanistan
									option(value="",disabled) Sun Bear
									option(value='Aland Islands',selected) Aland Islands
						.row
							.col.s12
								pre.language-markup.
									<code class="  language-markup">
									<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>text/javascript<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token script language-javascript">
										<span class="token function">$</span><span class="token punctuation">(</span>document<span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">ready</span><span class="token punctuation">(</span><span class="token keyword">function</span><span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
										  <span class="token function">$</span><span class="token punctuation">(</span><span class="token string">".select2_select"</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">select2</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
										<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
									</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">&gt;</span></span>

									<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>select</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>select2_select<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
									  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>AL<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Alabama<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>option</span><span class="token punctuation">&gt;</span></span>
									    ...
									  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>WY<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Wyoming<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>option</span><span class="token punctuation">&gt;</span></span>
									<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>select</span><span class="token punctuation">&gt;</span></span></code>
				// 2. Multiple select boxes
				form.col.s12
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Multiple Select Boxes
								p
									| Select2 also supports multi-value select boxes. The select below is declared with the <code class="language-markup">multiple</code> attribute.
						.row
							.select2-input.col.s12
								label Multiple select boxes
								select#multipleselectboxes(name="multipleselectboxes",class='select2_select',multiple)
									option(value='United States') United States
									option(value='United Kingdom') United Kingdom
									option(value='Afghanistan') Afghanistan
									option(value="",disabled) Sun Bear
									option(value='Aland Islands',selected) Aland Islands
						.row
							.col.s12
								pre.language-markup.
									<code class="  language-markup">
									<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>text/javascript<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token script language-javascript">
										<span class="token function">$</span><span class="token punctuation">(</span><span class="token string">".select2_multiple"</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">select2</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
									</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">&gt;</span></span>

									<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>select</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>select2_multiple<span class="token punctuation">"</span></span> <span class="token attr-name">multiple</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>multiple<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
									  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>AL<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Alabama<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>option</span><span class="token punctuation">&gt;</span></span>
									    ...
									  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>WY<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Wyoming<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>option</span><span class="token punctuation">&gt;</span></span>
									<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>select</span><span class="token punctuation">&gt;</span></span></code>
				// 3. Placeholders
				form.col.s12
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Placeholders
								p
									| A placeholder value can be defined and will be displayed until a selection is made. Select2 uses the <code class="language-markup">placeholder</code> attribute on multiple select boxes, which requires IE 10+.

						.row
							.select2-input.col.s12
								label Placeholder
								select#placeholder(name="placeholder",class='select2_select select2-placeholder',multiple)
									option(value='United States') United States
									option(value='United Kingdom') United Kingdom
									option(value='Afghanistan') Afghanistan
									option(value="Asguard") Asguard
									option(value='Aland Islands') Aland Islands
						.row
							.col.s12
								pre.language-javascript.
									<code class=" language-javascript">
									<span class="token function">$</span><span class="token punctuation">(</span><span class="token string">".js-example-placeholder-single"</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">select2</span><span class="token punctuation">(</span><span class="token punctuation">{</span>
									  placeholder<span class="token punctuation">:</span> <span class="token string">"Select a state"</span><span class="token punctuation">,</span>
									  allowClear<span class="token punctuation">:</span> <span class="token boolean">true</span>
									<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code>
				// 4. Limiting The Number Of Selections
				form.col.s12
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Limiting The Number Of Selections
								p
									| Select2 multi-value select boxes can set restrictions regarding the maximum number of options selected. The select below is declared with the <code class="language-markup">multiple</code> attribute with <code class="language-markup">maximumSelectionLength</code> in the select2 options.
						.row
							.select2-input.col.s12
								label(for="js-example-basic-multiple-limit") Limiting the number of selections
								select#js-example-basic-multiple-limit(name="js-example-basic-multiple-limit",class="js-example-basic-multiple-limit",multiple)
									option(value='United States') United States
									option(value='United Kingdom') United Kingdom
									option(value='Afghanistan') Afghanistan
									option(value="Asguard",selected) Asguard
									option(value='Aland Islands') Aland Islands
						.row
							.col.s12
								pre.language-javascript.
									<code class=" language-javascript">
									<span class="token function">$</span><span class="token punctuation">(</span><span class="token string">".js-example-basic-multiple-limit"</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">select2</span><span class="token punctuation">(</span><span class="token punctuation">{</span>
									  maximumSelectionLength<span class="token punctuation">:</span> <span class="token number">2</span>
									<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code>
		include ../include/footer.pug				
block append scripts
	// SELECT 2
	script(type='text/javascript', src='../plugins/select2/select2.js')
	script.
		$(document).ready(function() {
			$('select.select2_select').select2();
			$('select.select2-placeholder').select2({
				placeholder: "Select a state",
				allowClear: true
			});
			$(".js-example-basic-multiple-limit").select2({
			  maximumSelectionLength: 2
			});
		});