extends ../layout/defualt-layout.pug
block title
	title Forge :: Materialize Breadcrumbs
block append css
	
block content
	- var mainRoute="appearance"
	- var route = 'appComponents'
	- var func = 'materializeBreadcrumbs'
	- var nestedName=""
	- var breadcrumb=[{"link":"index.html","title":"Home"},{"link":"#","title":"Breadcrumbs"}]
	- var pageGeneralDropDown=[{"type":"normal","link":'#',"icon":"account_box","iType":"material","title":"Account"},{"type":"normal","link":'#',"icon":"local_activity","iType":"material","title":"Recent Activities"},{"type":"normal","link":'#',"icon":"mdi-wheelchair-accessibility","iType":"mdi","title":"Accessibility"},{"type":"divider"},{"type":"normal","link":'#',"icon":"settings","iType":"material","title":"All Settings"}]
	include ../include/header.pug
	main.animated
		+dropdownContent('generalDropDown',pageGeneralDropDown)
		// ============================
		// MAIN HEADER
		// ============================
		.main-header
			.sec-page
				.page-title
					h2 Breadcrumbs
				.page-options
					a(href="#",class="dropdown-button page-opt-dropBtn btn-floating waves-effect waves-set setWave",data-activates='generalDropDown',data-beloworigin="true",data-alignment="right",data-position="bottom",data-constrainwidth="false",data-delay="50",data-gutter="25")
						+mi('perm_data_setting')
					a(href="#",class="waves-effect waves-set page-opt-dropBtn setWave btn-floating")
						+mi('chat_bubble_outline')
			// ============================
			// breadcrumb
			// ============================
			.sec-breadcrumb
				+breadcrumb(breadcrumb,'left')
		// ============================
		// Main container
		// ============================
		.main-container
			//- Intro
			div.row
				.col.s12
					h4.content-headline Breadcrumbs
					p Breadcrumbs are a good way to display your current location. This is usually used when you have multiple layers of content.
			.row
				.col.s12
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Introduction
								P Breadcrumb is one who guides you.
						.row
							.col.s12
								nav
									.nav-wrapper.primary-bg.light
										.col.s12
											a.breadcrumb(href='#!') First
											a.breadcrumb(href='#!') Second
											a.breadcrumb(href='#!') Third
							.col.s12
								pre.language-markup.
									<code class=" language-markup">
									  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nav</span><span class="token punctuation">&gt;</span></span>
									    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nav-wrapper<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
									      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>col s12<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
									        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#!<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>breadcrumb<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>First<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
									        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#!<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>breadcrumb<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Second<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
									        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#!<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>breadcrumb<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Third<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
									      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
									    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
									  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nav</span><span class="token punctuation">&gt;</span></span>
									            </code>
		include ../include/footer.pug