extends ../layout/defualt-layout.pug
block title
	title Forge :: Nestable
block append css
	link(type='text/css', rel='stylesheet', href='../css/plugins/Nestable/style.css')
	
block content
	- var mainRoute="nestable"
	- var route = 'nestable'
	- var func = 'nestable'
	- var nestedName="nestable"
	- var breadcrumb=[{"link":"index.html","title":"Home"},{"link":"#","title":"Advance UI"},{"link":"#","title":"Nestable"}]
	- var pageGeneralDropDown=[{"type":"normal","link":'#',"icon":"account_box","iType":"material","title":"Account"},{"type":"normal","link":'#',"icon":"local_activity","iType":"material","title":"Recent Activities"},{"type":"normal","link":'#',"icon":"mdi-wheelchair-accessibility","iType":"mdi","title":"Accessibility"},{"type":"divider"},{"type":"normal","link":'#',"icon":"settings","iType":"material","title":"All Settings"}]
	include ../include/header.pug
	main.animated
		+dropdownContent('generalDropDown',pageGeneralDropDown)
		// ============================
		// MAIN HEADER
		// ============================
		.main-header
			.sec-page
				.page-title
					h2 Nestable
				.page-options
					a(href="#",class="dropdown-button page-opt-dropBtn btn-floating waves-effect waves-set setWave",data-activates='generalDropDown',data-beloworigin="true",data-alignment="right",data-position="bottom",data-constrainwidth="false",data-delay="50",data-gutter="25")
						+mi('perm_data_setting')
					a(href="#",class="waves-effect waves-set page-opt-dropBtn setWave btn-floating")
						+mi('chat_bubble_outline')
			// ============================
			// breadcrumb
			// ============================
			.sec-breadcrumb
				+breadcrumb(breadcrumb,'left')
		// ============================
		// Main container
		// ============================
		.main-container
			.row
				.col.s12
					h4.content-headline Nestable
					p The Nestable allows you to sort items through drag and drop. This is great, if you want to organize different categories or menu items in administration areas.
				.col.s12
					// Demo View
					.card-panel
						.row.box-title
							div.col.s12
								h5.content-headline Demo View
								p We have done minor modification in css to have materialize touch.
						.row
							menu#nestable-menu
								a.waves-effect.waves-light.btn&attributes({"data-action":"expand-all"})
									i.material-icons.left expand_more
									| Expand All
								a.waves-effect.waves-light.btn&attributes({"data-action":"collapse-all"})
									i.material-icons.left expand_less
									| Collapse All
						.row
							.col.s12.m6
								.cf.nestable-lists
									#nestable.dd
										ol.dd-list
											li.dd-item(data-id='1')
												.dd-handle Item 1
											li.dd-item(data-id='2')
												.dd-handle Item 2
												ol.dd-list
													li.dd-item(data-id='3')
														.dd-handle Item 3
													li.dd-item(data-id='4')
														.dd-handle Item 4
													li.dd-item(data-id='5')
														.dd-handle Item 5
														ol.dd-list
															li.dd-item(data-id='6')
																.dd-handle Item 6
															li.dd-item(data-id='7')
																.dd-handle Item 7
															li.dd-item(data-id='8')
																.dd-handle Item 8
															li.dd-item(data-id='9')
																.dd-handle Item 9
															li.dd-item(data-id='10')
																.dd-handle Item 10
															li.dd-item(data-id='11')
																.dd-handle Item 11
															li.dd-item(data-id='12')
																.dd-handle Item 12
							.col.s12.m6
								.cf.nestable-lists
									#nestable2.dd
										ol.dd-list
											li.dd-item(data-id='13')
												.dd-handle Item 13
											li.dd-item(data-id='14')
												.dd-handle Item 14
											li.dd-item(data-id='15')
												.dd-handle Item 15
												ol.dd-list
													li.dd-item(data-id='16')
														.dd-handle Item 16
													li.dd-item(data-id='17')
														.dd-handle Item 17
													li.dd-item(data-id='18')
														.dd-handle Item 18
				.col.s12
					// Serialised Output (per list)
					.card-panel
						.row.box-title
							.col.s12
								h5.content-headline Serialised Output (per list)
								p This is the serialize output that's the reflection of changes in above nestable list.
						.row
							.col.s12
								textarea#nestable-output.materialize-textarea
								textarea#nestable2-output.materialize-textarea
				.col.s12
					// Draggable Handles
					.card-panel
						.row.box-title
							.col.s12
								h5.content-headline Draggable Handles
								p We have also a feature Draggable handles who can handle only drag event.
						.row
							.col.s12
								.cf.nestable-lists
									#nestable3.dd
										ol.dd-list
											li.dd-item.dd3-item(data-id='13')
												.dd-handle.dd3-handle Drag
												.dd3-content Item 13
											li.dd-item.dd3-item(data-id='14')
												.dd-handle.dd3-handle Drag
												.dd3-content Item 14
											li.dd-item.dd3-item(data-id='15')
												.dd-handle.dd3-handle Drag
												.dd3-content Item 15
												ol.dd-list
													li.dd-item.dd3-item(data-id='16')
														.dd-handle.dd3-handle Drag
														.dd3-content Item 16
													li.dd-item.dd3-item(data-id='17')
														.dd-handle.dd3-handle Drag
														.dd3-content Item 17
													li.dd-item.dd3-item(data-id='18')
														.dd-handle.dd3-handle Drag
														.dd3-content Item 18
		include ../include/footer.pug
block append scripts
	script(type='text/javascript', src='../plugins/Nestable/jquery.nestable.js')
	script(type='text/javascript', src='../plugins/Nestable/example.js')
	script.
		$(document).ready(function(){
			$('select').material_select();
		});